<section class="pt-20 pb-10 px-6 sm:px-10 md:px-16 lg:px-20">
  <div class="flex flex-col md:flex-row justify-center items-center gap-8 md:gap-10 lg:gap-16">

    <!-- Login Form -->
    <app-login-form class="w-full md:w-1/2 lg:w-1/3"></app-login-form>

    <!-- Image -->
    <div class="w-full md:w-1/2 lg:w-2/5 mb-6 md:mb-0 flex justify-center">
      <img
        src="/images/register-pic.png"
        class="w-full h-auto rounded-4xl object-cover"
        alt="register-Picture"
      />
    </div>

  </div>
</section>
