<div class="w-full lg:w-auto">
  <div class="mb-10 text-center lg:text-left">
    <h3 class="text-3xl font-bold">Create a new account</h3>
  </div>
  <form [formGroup]="registerForm" class="max-w-md mx-auto">
    <!-- UserName -->
    <app-auth-input
      formControlName="name"
      [control]="registerForm.get('name')"
      [type]="'text'"
      [id]="'UserName'"
      [name]="'UserName'"
      [label]="'User Name'"
    ></app-auth-input>

    <!-- Email -->
    <app-auth-input
      formControlName="email"
      [control]="registerForm.get('email')"
      [type]="'email'"
      [id]="'UserEmail'"
      [name]="'UserEmail'"
      [label]="'User Email'"
    ></app-auth-input>

    <!-- Password -->
    <app-auth-input
      formControlName="password"
      [control]="registerForm.get('password')"
      [type]="'password'"
      [id]="'UserPassword'"
      [name]="'UserPassword'"
      [label]="'User Password'"
      [name]="'password'"
    ></app-auth-input>

    <!-- RePassword -->
    <app-auth-input
      formControlName="rePassword"
      [control]="registerForm.get('rePassword')"
      [type]="'password'"
      [id]="'rePassword'"
      [name]="'rePassword'"
      [label]="'rePassword'"
      [group]="registerForm"
    ></app-auth-input>

    <!-- Phone -->
    <app-auth-input
      formControlName="phone"
      [control]="registerForm.get('phone')"
      [type]="'tel'"
      [id]="'phone'"
      [name]="'phone'"
      [label]="'User Phone'"
    ></app-auth-input>

    <!-- Submit Button -->
    <button [disabled]="isLoading" type="submit" (click)="submitData()" class="btn-main w-full">
      Register @if (isLoading) { <i class="fas fa-spinner fa-spin"></i>}
    </button>
    <div class="mt-4">
      @if (errorMessage) {
      <div>
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4" role="alert">
          <p class="font-bold"></p>
          <p>
            {{ errorMessage }}
          </p>
        </div>
      </div>
      }@if (successMessage) {
      <div>
        <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">
          <p class="font-bold"></p>
          <p class="font-bold">{{ successMessage }}</p>
          <p>you will be redirected in {{ redirectCounter }} seconds....</p>
        </div>
      </div>
      }
    </div>

    <!-- Login Link -->
    <p class="text-md mt-4">
      Do you have an account?
      <a routerLink="/login" class="text-main-500 font-bold hover:underline"> Log in</a>
    </p>
  </form>
</div>
