@if(!productsService.productDetails){
<app-loading-spinner></app-loading-spinner>
}@else {
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="grid gap-4 lg:w-1/2 w-full lg:h-auto h-64 rounded">
        <div class="flex justify-center items-center">
          <img
            #mainImage
            class="h-80 object-contain rounded-base"
            [src]="productsService.productDetails.imageCover"
            [alt]="productsService.productDetails.title"
          />
        </div>
        <div class="grid grid-flow-col gap-4">
          @for (image of productsService.productDetails.images; track $index) {
          <div>
            <img (click)="mainImage.src = image" class="h-auto max-w-full rounded-base cursor-pointer" [src]="image" alt="" />
          </div>
          }
        </div>
      </div>

      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-lg font-bold text-gray-500 tracking-widest">
          {{ productsService.productDetails.brand.name }}
          <a routerLink=""
            ><img
              [src]="productsService.productDetails.brand.image"
              class="w-40 hover:border-2 rounded-4xl"
              [alt]="productsService.productDetails.brand.name"
          /></a>
        </h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{ productsService.productDetails.category.name }}
        </h1>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          {{ productsService.productDetails.title }}
        </h1>
        <p class="leading-relaxed">{{ productsService.productDetails.description }}</p>

        <div class="flex mt-6 justify-between items-center pb-5 border-b-2 border-gray-100 mb-5">
          <div class="flex font-bold">
            <h2>{{productsService.productDetails.ratingsAverage}} <i class="fas fa-star text-rating"></i></h2>
          </div>
          <div class="flex ml-6 items-center">
            <span class="mr-3">Size</span>
            <div class="relative">
              <select
                class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10"
              >
                <option>SM</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
              <span
                class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4"
                  viewBox="0 0 24 24"
                >
                  <path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
            </div>
          </div>
          <span class="title-font font-bold text-2xl text-gray-900"
            >{{ productsService.productDetails.price }} $</span
          >
        </div>
        <div class="flex">
          <button class="w-full text-white btn-main py-2 px-6">Add to cart</button>
          <!-- <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
              wishlist button
            </button> -->
          <button class="cursor-pointer top-5 end-5 duration-200 ease-in">
            <span class="relative w-8 h-8 inline-block">
              <i class="fa-regular fa-heart text-red-700 text-4xl"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-related-products></app-related-products>
</section>
}
