@if (!productDetails) {
  <ngx-spinner type="ball-atom">
  <img src="/images/freshcart-logo.svg" alt="">
</ngx-spinner>
} @else {
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">

    <!-- MAIN WRAPPER -->
    <div class="lg:w-4/5 mx-auto flex flex-col lg:flex-row gap-8">

      <!-- IMAGE SECTION -->
      <div class="lg:w-1/2 w-full flex flex-col gap-4">

        <!-- MAIN IMAGE -->
        <div class="flex justify-center items-center">
          <img
            #mainImage
            class="w-full max-h-[400px] object-contain rounded-base"
            [src]="productDetails.imageCover"
            [alt]="productDetails.title"
          />
        </div>

        <!-- THUMBNAILS -->
        <div class="flex justify-center gap-4 overflow-x-auto">
          @for (image of productDetails.images; track $index) {
            <img
              (click)="mainImage.src = image"
              class="w-25 h-25 object-contain rounded-base cursor-pointer"
              [src]="image"
              [alt]="productDetails.title"
            />
          }
        </div>
      </div>

      <!-- DETAILS SECTION -->
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6">

        <!-- BRAND -->
        <h2 class="text-lg font-bold text-gray-500 tracking-widest flex items-center gap-4">
          {{ productDetails.brand.name }}
          <img
            [src]="productDetails.brand.image"
            class="w-24 rounded-4xl hover:border-2"
            [alt]="productDetails.brand.name"
          />
        </h2>

        <!-- CATEGORY -->
        <h1 class="text-gray-900 text-xl font-medium mt-2">
          {{ productDetails.category.name }}
        </h1>

        <!-- TITLE -->
        <h1 class="text-gray-900 text-3xl font-medium mb-4">
          {{ productDetails.title }}
        </h1>

        <!-- DESCRIPTION -->
        <p class="leading-relaxed mb-6">
          {{ productDetails.description }}
        </p>

        <!-- RATING / SIZE / PRICE -->
        <div class="flex flex-wrap justify-between items-center pb-5 border-b border-gray-200 mb-5 gap-4">

          <div class="font-bold text-lg">
            {{ productDetails.ratingsAverage }}
            <i class="fas fa-star text-rating"></i>
          </div>

          <div class="flex items-center gap-2">
            <span>Size</span>
            <select
              class="rounded border border-gray-300 py-2 px-3 focus:outline-none focus:ring-2 focus:ring-indigo-200"
            >
              <option>SM</option>
              <option>M</option>
              <option>L</option>
              <option>XL</option>
            </select>
          </div>

          <span class="font-bold text-2xl text-gray-900">
            {{ productDetails.price }} $
          </span>
        </div>

        <!-- ACTIONS -->
        <div class="flex items-center gap-4">
          <button (click)="addToCart(productId)" class="flex-1 text-white btn-main py-2 px-6">
            @if(isLoading){
              Adding... <i class="fas fa-spinner fa-spin mx-2 "></i>
            }@else{
              Add to cart
            }
          </button>

          <button class="cursor-pointer duration-200">
            <i class="fa-regular fa-heart text-red-700 text-3xl"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- RELATED PRODUCTS -->
  <app-related-products></app-related-products>
</section>
}
