@import "./styles/typography.css";
@import "tailwindcss";
@import "./styles/base";
@import "./styles/theme.css";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
